services:
  backend:
    build: ./backend
    container_name: express-backend
    ports:
      - "5001:5001"
    networks:
      - matcha

  frontend:
    build: ./frontend
    container_name: vite-frontend
    ports:
      - "5173:5173"
    networks:
      - matcha

  nginx:
    image: nginx:alpine
    container_name: nginx-gateway
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - frontend
      - backend
    networks:
      - matcha

  postgres:
    image: postgres:bookworm
    container_name: postgres
    restart: unless-stopped
    env_file:
      - ./.env
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - matcha
    ports:
      - "5432:5432"

networks:
  matcha:
    driver: bridge

volumes:
  pgdata: