services:
  backend:
    build: ./backend
    container_name: express-backend
    ports:
      - "5001:5001"
    environment:
      - PORT=5001
    networks:
      - matcha

  frontend:
    build: ./frontend
    container_name: vite-frontend
    ports:
      - "5173:5173"
    environment:
      - PORT=5173
    networks:
      - matcha

  nginx:
    image: nginx:alpine
    container_name: nginx-gateway
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - frontend
      - backend
    networks:
      - matcha

networks:
  matcha:
    driver: bridge
